@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

body{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}

.container{
  /*width: 100%;*/
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.logo{
  font-size: 28px;
  line-height: 80px;
  font-weight: bold;
  color: white;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar{
  background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
}

.navbar ul{
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.navbar ul li{
  margin-left: 30px;
}

.navbar a{
  text-decoration: none;
  color: white;
}

/* Body Section */
.body-section{
  display: flex;
  padding:60px;
}

#job{
  padding-left: 180px;
}

.body-section img{
  width: 450px;
  height:300px;
}

#job h1{
  font-size: 42px;
  padding-left: 65px;
}

#job p{
  font-size: 18px;
  padding-left: 65px;
}

#job button{
  background-color: rgb(66, 125, 214);
  margin-left: 65px;
  font-size: 20px;
  border: 0;
  border-radius: 8px;
  padding:15px;
}

#job button:hover{
  background-color: black;
}

/* Blog Section */
#blogmain button{
  background-color: rgb(66, 125, 214);
  margin-left:65px;
  font-size: 20px;
  border: 0;
  border-radius: 8px;
  padding:15px;
}

#blogmain button:hover{
  background-color: black;
}

.blog-section{
  display: flex;
}

.blog-section .container img{
  max-width: 40%;
}

#blog-image img{
  width: 450px;
  height: 300px;
  padding-right:65px;
}

#blogmain{
  padding:10px;
}

#blogmain h1{
  font-size: 42px;
  padding-left: 65px;
}

#blogmain p{
  font-size: 18px;
  padding-left: 65px;
}

/* Footer */
footer{
  text-align: center;
  background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
  padding: 15px;
  color: white;
}