*{
    font-family: 'Roboto', sans-serif;
    /*color:white;*/
}

.navbar ul{
    display:flex;
    /*justify-content: center;*/
}

.container{
    margin:auto;
    padding:20px;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    overflow:hidden;
}

ul{
    list-style: none;
    font-size: 24px;
    color:white;
}

a{
    text-decoration: none;
}

#header-logo{
    flex:1;
}

#header-links{
    flex:0.2;
}

/* Header Section */
.header-section{
    text-align:center;
    padding:20px;
    color: white;
}

.header-section h1{
    font-size: 48px;
}

.header-section p{
    font-size: 26px;
}

/* Main Section */
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.box{
    padding: 20px;
    margin:5px 80px 15px 80px;
}

.box img{
    width:80px;
    height:80px;
}

.main-section h1{
    text-align:center;
    padding:5px;
}

.main-section{
    background-color: #E5E7EB;
    padding: 5px;
    color: black;
}
/* Body Section */
.body-section{
    display: flex;
    padding:40px;
}

.body-section img{
    width: 450px;
    height:250px;
}

#job h1{
    font-size: 42px;
}

#job button{
    background-color: rgb(66, 125, 214);
    margin:5px;
}