*{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding:20px;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
}

body{
    margin:0px;
}

.navbar ul{
    display:flex;
}

ul{
    list-style: none;
    font-size: 24px;
    color:white;
}

a{
    text-decoration: none;
    color: white;
}

#header-logo{
    align-items: flex-start;
    flex: 2;
}

#header-links{
    padding-right: 45px;
    align-items: flex-end;
}

/* Header Section */
.header-section{
    text-align:center;
    padding:60px;
    color: white;
}

.header-section h1{
    font-size: 48px;
}

.header-section p{
    font-size: 26px;
}

/* Main Section */
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.box{
    padding: 20px;
    margin:5px 80px 15px 80px;
}

.box img{
    width:80px;
    height:80px;
}

.main-section h1{
    text-align:center;
    padding:5px;
}

.main-section{
    background-color: #E5E7EB;
    padding: 5px;
    color: black;
}

/* Body Section */
.body-section{
    display: flex;
    padding:60px;
}

.body-section img{
    width: 450px;
    height:250px;
}

#job h1{
    font-size: 42px;
    padding-left: 65px;
}

#job p{
    font-size: 18px;
    padding-left: 65px;
}

#job button{
    background-color: rgb(66, 125, 214);
    margin-left: 65px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    padding: 15px;
}

#job button:hover{
    background-color: black;
}

/* Blog Section */
#blogmain button{
    background-color: rgb(66, 125, 214);
    margin-left:65px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    padding:15px;
}

#blogmain button:hover{
    background-color: black;
}

.blog-section{
    display: flex;
}

#blog-image img{
    width: 450px;
    height: 300px;
    padding-right:65px;
}

#blogmain{
    padding:10px;
}

#blogmain h1{
    font-size: 42px;
    padding-left: 65px;
}

#blogmain p{
    font-size: 18px;
    padding-left: 65px;
}

/* Footer */
footer{
    text-align: center;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    padding: 15px;
    color: white;
}
