*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    margin:0px;
}

.navbar ul{
    display:flex;
    /*justify-content: center;*/
}

.container{
    padding:20px;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    overflow:hidden;
}

ul{
    list-style: none;
    font-size: 24px;
    color:white;
}

a{
    text-decoration: none;
    color: white;
}

#header-logo{
    align-items: flex-start;
    flex: 2;
}

#header-links{
    padding-right: 45px;
    align-items: flex-end;
}

/* Header Section */
.header-section{
    text-align:center;
    padding:60px;
    color: white;
}

.header-section h1{
    font-size: 48px;
}

.header-section p{
    font-size: 26px;
}

/*Showcase*/
.vac-showcase{
    min-height:300px;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    opacity: 0.8;
    color:rgb(255, 249, 249);
}

.vac-showcase h2{
    padding-top:90px;
    text-align:center;
    font-size: 55px;
}

.vac-showcase p{
    padding-top:10px;
    text-align:center;
    font-size:25px;
}

.vac-search{
    padding-top:20px;
    margin-left:15%;
    margin-right:15%;
}

/**Search bar*/
.search-bar{
    background-color: #E5E7EB;
    padding:100px;
}
.content-bar{
    text-align:center;
}

input, select, button{
    border-radius: 20px;
    padding:10px 35px;
    margin:25px;
    font-size:18px;
    color:grey;
}
.content-bar button{
    background-color: rgb(66, 125, 214);
    border:1px;
    color:white;
}

.content-bar button:hover{
    background-color:gray;
}

/**Boxes*/
.job-container{
    margin-left:10%;
    margin-right:10%;
}

.boxes {
    margin-top:20px;
}
 
.boxes .box p{
    color:rgb(77, 72, 72);
}
   
.boxes .box{
    margin:15px;
    padding:20px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 8px;
}

.boxes .box .title{
    font-size: 18px;
    font-style: bold;
}

.boxes .box .subtitle{
    font-size:15px;
    font-weight: bold;
}

.boxes .box .location{
    font-size: 12px;
}

/**Apply button*/
.apply button{
    background-color: rgb(66, 125, 214);
    border:1px;
    color:white;
    padding:10px 25px;
    margin:14px 10px 0px 1px;
    font-size: 12px;
}

.apply button:hover{
    background-color:gray;
}


.signup{
    text-align:center;
    padding:20px;
    margin:20px 20px;
}

.signup button{
    padding: 15px 35px;
    font-size:15px;
    background-color: rgb(66, 125, 214);
    border:1px;
    border-radius: 20px;;
}

.signup button:hover{
    background-color:gray;
}

.signup button a{
    color:white;
    font-size:15px;
}

.content{
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
}

/*Page footer*/
footer p{ 
    text-align: center;
    background-image: linear-gradient(40deg,rgb(66, 125, 214), rgb(189, 25, 189));
    padding:35px;
    font-size: 15px;
    margin-top:15px;
    color:white;
}

/*Media Queries*/
@media(max-width:991px){
    .nav-toggler{
        display: block;
    }
    .header .nav {
        width: 100%;
        padding:0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }
    .header .nav.open{
        visibility: visible;
    }
    .header .nav ul {
        padding:12px 15px 0;
        margin-top: 12px;
        border-top:1px solid rgba(255,255,255,0.2);
    }
    .header .nav ul li {
        display: block;
        margin:0;
    }
 }
 